name: "Test"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    container: golang:buster
    env:
      DB_HOST: postgres
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
      DB_PORT: 5432
      POLYGON_RPC: ${{ secrets.POLYGON_RPC }}
      MNEMONIC: ${{ secrets.MNEMONIC }}
      NETSEPIO_CONTRACT_ADDRESS: ${{ secrets.NETSEPIO_CONTRACT_ADDRESS }}
      JWT_PRIVATE_KEY: ${{ secrets.JWT_PRIVATE_KEY }}
      VOTER_EULA: TODO VOTER EULA
      AUTH_EULA: TODO AUTH EULA
      ALLOWED_ORIGIN: "*"

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Install gotestsum
        run: go get -u gotest.tools/gotestsum
      - name: Build
        run: go build -v ./...
      - name: Test
        run: LOAD_CONFIG_FILE=false gotestsum
